<div class="text-center">
    <h1 class="display-4"> ¡Hola!, Soy Miguel Urango Doria</h1>
    <h4></h4>
    <img id="foto" src="~/images/fotoperfil.jpg" alt="Foto Consultor">

</div>
@*
<div class="text-center">
    <img id="imagen-net" src="~/images/fotoperfil.jpg" alt="Logo saberes" />

</div> *@

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>¡Bienvenido a mi portafolio!</h1>
        <p>
            Soy Desarrollador de Software, Especialista en desarrollo web y movil con Flutter y .NET, con una trayectoria de 1 años.
        </p>

    </div>
</div>
